# .gitignore at the root of the project

# Ignore files for the backend (Spring Boot project)
backend/target/
backend/*.class
backend/*.log
backend/.settings/
backend/.classpath
backend/.project
backend/hs_err_pid*
backend/.springBeans
backend/*.jar
backend/*.war
backend/*.nar
backend/*.ear
backend/*.zip
backend/*.tar.gz
backend/*.rar
backend/.gradle/
backend/build/

# Ignore files for the frontend (Angular project)
frontend/node_modules/
frontend/dist/
frontend/tmp/
frontend/npm-debug.log*
frontend/yarn-error.log*
frontend/.angular/cache/
frontend/.env

# General rules for the entire project
*.log
*.swp
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.vagrant/

# Ignore IDE-specific files
.idea/
*.iml
*.iws
*.ipr
