<section class="main-articles">
        <h2 class="section-title">ARTICLES MOST LOVED BY OUR READERS</h2>
        <ul class="categories-list">
            <li class="active"> <a href="#">ALL</a></li>
            <li > <a href="#">Turorials</a></li>
            <li > <a href="#">Development</a></li>
            <li > <a href="#">Design</a></li>
            <li > <a href="#">Process</a></li>
            <li > <a href="#">Ux</a></li>
            <li > <a href="#">Performance</a></li>
        </ul>
        <div class="articles-list" >
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
        </div>
        <div class="nav-buttons">

        </div>
    </section>