<section class="main-articles">
        <div class="section_title_block">
            <h2 class="section_title">ARTICLES MOST LOVED BY OUR READERS</h2>
        </div>
        <ul class="categories-list">
            <li class="active"> <a href="#">ALL</a></li>
            <li > <a href="#">Turorials</a></li>
            <li > <a href="#">Development</a></li>
            <li > <a href="#">Design</a></li>
            <li > <a href="#">Process</a></li>
            <li > <a href="#">Ux</a></li>
            <li > <a href="#">Performance</a></li>
        </ul>
        <div class="articles-list" >
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
            <app-article *ngFor="let item of articleList " [article]="item"></app-article>
        </div>
        <div class="nav-buttons">
            <a href="#" class="newer_post">
                <i class="fa-solid fa-less-than"></i>
                <span>Newer post</span>
            </a>
            <a href="#" class="older_post">
                <span>Older post</span> 
                <i class="fa-solid fa-greater-than"></i>
            </a>
        </div>
</section>