.main-articles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    flex-direction: column;
    padding-inline: 20px;
    padding-bottom: 100px;
}
.main-articles .section-title-block {
    width: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.679),rgba(0, 0, 0, 0.582)),url("../../../public/assets/images/pc2.jpg") ;
    /* background: url("../../../public/logo/logoLightBg.png") ; */
    background-size: cover;
}
.main-articles h2 {
    color: white;
    /* color: var(--primary-color); */
    font-size: calc(10vw);
    max-width: 100%;
    margin-bottom: 10px;
}
.main-articles ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70vw;
    overflow-x: scroll;
    gap: 5px;
    flex-wrap: nowrap;
    margin-bottom: 25px;
    padding: 8px 0;
    align-self: center;
}
.main-articles ul li {
    display: flex;
}
.main-articles ul li  a {
    display: flex;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 16px;
}
.main-articles ul li.active{
    background: var(--primary-color);
}
.main-articles ul li {
    transition: .6s;
}
.main-articles ul li:hover{
    background: var(--soft-primary-color);
}


section.main-articles .articles-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
    width: 100%;

}

section.main-articles .nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    width: 100%;
    gap: 10px;
}

section.main-articles .nav-buttons a {
    background: transparent;
    padding: 12px 17px;
    border: 2px solid var(--primary-color);
    font-weight: bold;
    transition: .52s;
    gap: 5px;
    display: flex;
    align-items: center;
}


section.main-articles .nav-buttons a.newer_post {
    color: var(--primary-color);
}

section.main-articles .nav-buttons a.older_post {
    color: white;
    background: linear-gradient(75deg, var(--soft-primary-color), var(--primary-color));
}


section.main-articles .nav-buttons a:hover{
    background: var(--dark-primary-color);
    color: white;
    border-color: var(--dark-primary-color);
    gap: 15px;
}