<main class="flex flex-col w-full text-center justify-around items-center text-white">    
    <section class="hero_section">
        <img src="logo/logoDark.png" alt="">
        <a href="/articles" >Entrer</a>
    </section>
      <section class="most_popular_articles">
        <article class="article_item_small">
            <img src="assets/images/pc1.jpg" alt="">
            <div class="article_infos">
                <h3 class="article_title">Why informatica ?</h3>
                <p class="content">Lorem ipsum dolor, sit amet consectetur … </p>
                <a class="read_more" href="#">Lire plus</a>
                <span class="published_date">April 24, 2024</span>
            </div>
        </article> 
             <!-- ARTICLE ITEM  -->
             <article class="article_item_small">
                <img src="assets/images/pc1.jpg" alt="">
                <div class="article_infos">
                    <h3 class="article_title">Why informatica ?</h3>
                    <p class="content">Lorem ipsum dolor, sit amet consectetur … </p>
                    <a class="read_more" href="#">Lire plus</a>
                    <span class="published_date">April 24, 2024</span>
                </div>
            </article> 
                     <!-- ARTICLE ITEM  -->
             <article class="article_item_small">
                <img src="assets/images/pc1.jpg" alt="">
                <div class="article_infos">
                    <h3 class="article_title">Why informatica ?</h3>
                    <p class="content">Lorem ipsum dolor, sit amet consectetur … </p>
                    <a class="read_more" href="#">Lire plus</a>
                    <span class="published_date">April 24, 2024</span>
                </div>
            </article> 
                             <!-- ARTICLE ITEM  -->
             <article class="article_item_small">
                <img src="assets/images/pc1.jpg" alt="">
                <div class="article_infos">
                    <h3 class="article_title">Why informatica ?</h3>
                    <p class="content">Lorem ipsum dolor, sit amet consectetur … </p>
                    <a class="read_more" href="#">Lire plus</a>
                    <span class="published_date">April 24, 2024</span>
                </div>
            </article> 
                              <!-- ARTICLE ITEM  -->
             <article class="article_item_small">
                <img src="assets/images/pc1.jpg" alt="">
                <div class="article_infos">
                    <h3 class="article_title">Why informatica ?</h3>
                    <p class="content">Lorem ipsum dolor, sit amet consectetur … </p>
                    <a class="read_more" href="#">Lire plus</a>
                    <span class="published_date">April 24, 2024</span>
                </div>
            </article> 
                              <!-- ARTICLE ITEM  -->
             <article class="article_item_small">
                <img src="assets/images/pc1.jpg" alt="">
                <div class="article_infos">
                    <h3 class="article_title">Why informatica ?</h3>
                    <p class="content">Lorem ipsum dolor, sit amet consectetur … </p>
                    <a class="read_more" href="#">Lire plus</a>
                    <span class="published_date">April 24, 2024</span>
                </div>
            </article>
        </section>  

        <app-contact-us></app-contact-us>

      
</main>



    