<main class="flex flex-col w-full text-center justify-around items-center text-white">    
    <section class="hero_section">
        <img src="logo/logoDark.png" alt="">
        <a href="#" >Entrer</a>
    </section>
      <section class="most_popular_articles">
        <article class="article_item_small">
            <img src="assets/images/pc1.jpg" alt="">
            <div class="article_infos">
                <h3 class="article_title">Why informatica ?</h3>
                <p class="content">Lorem ipsum dolor, sit amet consectetur … </p>
                <a class="read_more" href="#">Lire plus</a>
                <span class="published_date">April 24, 2024</span>
            </div>
        </article> 
             <!-- ARTICLE ITEM  -->
             <article class="article_item_small">
                <img src="assets/images/pc1.jpg" alt="">
                <div class="article_infos">
                    <h3 class="article_title">Why informatica ?</h3>
                    <p class="content">Lorem ipsum dolor, sit amet consectetur … </p>
                    <a class="read_more" href="#">Lire plus</a>
                    <span class="published_date">April 24, 2024</span>
                </div>
            </article> 
                     <!-- ARTICLE ITEM  -->
             <article class="article_item_small">
                <img src="assets/images/pc1.jpg" alt="">
                <div class="article_infos">
                    <h3 class="article_title">Why informatica ?</h3>
                    <p class="content">Lorem ipsum dolor, sit amet consectetur … </p>
                    <a class="read_more" href="#">Lire plus</a>
                    <span class="published_date">April 24, 2024</span>
                </div>
            </article> 
                             <!-- ARTICLE ITEM  -->
             <article class="article_item_small">
                <img src="assets/images/pc1.jpg" alt="">
                <div class="article_infos">
                    <h3 class="article_title">Why informatica ?</h3>
                    <p class="content">Lorem ipsum dolor, sit amet consectetur … </p>
                    <a class="read_more" href="#">Lire plus</a>
                    <span class="published_date">April 24, 2024</span>
                </div>
            </article> 
                              <!-- ARTICLE ITEM  -->
             <article class="article_item_small">
                <img src="assets/images/pc1.jpg" alt="">
                <div class="article_infos">
                    <h3 class="article_title">Why informatica ?</h3>
                    <p class="content">Lorem ipsum dolor, sit amet consectetur … </p>
                    <a class="read_more" href="#">Lire plus</a>
                    <span class="published_date">April 24, 2024</span>
                </div>
            </article> 
                              <!-- ARTICLE ITEM  -->
             <article class="article_item_small">
                <img src="assets/images/pc1.jpg" alt="">
                <div class="article_infos">
                    <h3 class="article_title">Why informatica ?</h3>
                    <p class="content">Lorem ipsum dolor, sit amet consectetur … </p>
                    <a class="read_more" href="#">Lire plus</a>
                    <span class="published_date">April 24, 2024</span>
                </div>
            </article>
        </section>  

        <section class="contact_us">
            <h1>CONTACT US  </h1>
            <p>Needs, worrining, encouragement , tell us something, we are here for it !</p>
            <form formGroup="contactForm">
                    <!-- FIRST NAME -->
                <label for="first-name"> First Name</label>
                <input type="text"  id="first-name" formControlName="firstName">

                <!-- LAST NAME -->
                <label for="last-name"> Last Name</label>
                <input type="text"  id="last-name" formControlName="lastName">

                <!-- EMAIL ADRESS -->
                <label for="firstname"> Email Adress</label>
                <input type="text"  id="first-name" formControlName="email">

                 <!-- MESSAGE-->
                 <label for="message"> Message</label>
                 <input type="text"  id="message" formControlName="message">

                 <button type="submit" [disabled]="!contactForm.valid">Submit</button>
            </form>
        </section>
</main>



    