
<section class="article_page_content">
    <article class="post">
        <h2 class="article_title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, reiciendis!</h2>
        <div class="socials">
            <a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i>  FACEBOOK</a>
            <a class="gmail" href="#"><i class="fa-solid fa-envelope"></i> GMAIL</a>
            <a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i> linkedin</a>
            <a class="twitter" href="#"><i class="fa-brands fa-x-twitter"></i>  twitter</a>
        </div>
        <img src="assets/images/background.jpg" alt="lorem">
        <p>by nelson tiagho , 16 Jul 2024</p>
        <p class="separation_blog"></p>
        <p class="article_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aperiam rerum sed tempore vel velit dolor quos! Culpa eveniet ipsam at vel porro iure doloribus impedit nihil amet quod. Aliquid, </p>
        <div class="article_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad blanditiis molestias fugiat accusamus autem omnis rerum unde, sed distinctio? Impedit, suscipit velit voluptate placeat nihil alias, quam possimus ipsa quasi nam corrupti voluptatibus. Sint minima laboriosam perferendis eos eveniet provident cupiditate soluta laborum ipsum deserunt. A qui placeat dicta, cum tenetur incidunt porro assumenda hic temporibus harum amet, labore dolor non. Cum sequi, architecto odit quis nulla delectus soluta assumenda tempora animi maiores aliquid? Corporis maiores vero explicabo dolor, unde ducimus obcaecati ea, commodi aliquam id adipisci qui sunt, voluptatem dolorem eaque. Neque animi doloremque blanditiis ullam consequuntur et voluptates!</div>
        <div class="read_more">
            <a href="article/details/slug">why informatika ?, </a>
            <a href="article/details/slug">what the h*k is slug ?, </a>
            <a href="article/details/slug">react vs angular vs vue vs svelte</a>
        </div>
        <div class="socials">
            <a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i>  FACEBOOK</a>
            <a class="gmail" href="#"><i class="fa-solid fa-envelope"></i> GMAIL</a>
            <a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i> linkedin</a>
            <a class="twitter" href="#"><i class="fa-brands fa-x-twitter"></i>  twitter</a>
            </div>
    </article>
       <aside class="socials_network_feed">
            <article>
                page_contentkfopkdpofkpkdpso
            </article>
            <article>
                page_contentkfopkdpofkpkdpso
            </article>
            <article>
                page_contentkfopkdpofkpkdpso
            </article>
            <article>
                page_contentkfopkdpofkpkdpso
            </article>

        </aside>
</section>
